* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  -webkit-box-shadow: 0px 15px 35px 11px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 15px 35px 11px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10vh;
}

/*modals*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-modal {
  display: none;
}

.reg-modal {
  display: none;
}

.catg-search ul {
  margin-left: 12px;
}

.search-cont input {
  height: 5vh;
}

.catg {
  margin-bottom: 70px;
}

table {
  text-align: center;
}

.more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px;
}






@media (min-width:768px) {
  .search-extra {
    display: none!important;
  }
  .search-cont input {
    height: 2vh;
  }

  .catg {
    margin-bottom: 50px;
  }
}