* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin2slinear infinite;
  animation: spin2slinear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

#myDiv {
  display: none;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
}
.ovl-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  z-index: 9999;
}
/*modals*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main {
  position: relative;
  min-height: 100vh;
  padding: 0 5%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

@media (min-width:767px) {
  * {
    font-size: 24px;
  }
  .modal {
    font-size: 40px!important;
  }
  .modal h2 {
    font-size: 70px;
  }
  .modal input {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
/* GENERAL LAYOUT STYLE */