header {
  padding-top: 3.5rem!important;
}

.carousel-item {
  height: 100vh;
  height: 310px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  background: rgba(0,0,0,0.3);
  display: none!important;
}
/*section {
  -webkit-box-shadow: 0px 15px 35px 11px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 15px 35px 11px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10vh;
}*/



.catg-search ul {
  margin-left: 12px;
}

.search-cont input {
  height: 5vh;
}

.app_name {
  font-size: 50px;
}
.logo2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.catg {
  margin-bottom: 70px;
}
.lcatg {
  margin-bottom: 20px;
}
table {
  text-align: center;
}
td {
  font-size: 12px;
}
.more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 10px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}






@media (min-width: 768px) {
  header {
    padding-top: 4rem;
  }
  .carousel-item {
    height: 40vh;
  }

  .search-extra {
    display: none!important;
  }
  .search-cont input {
    height: 2vh;
  }

  .app_name {
    font-size: 80px;
  }

  .catg {
    margin-bottom: 50px;
  }
  .catg-m {
    margin: 0 3rem;
  }
  td {
    font-size: 24px;
  }
}

@media (min-width:992px) {}
@media (max-width: 767px) {
  .logo2 {
    display: none;
  }
}