<!DOCTYPE html>
<html>
<head>
  <!-- favicon -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/images/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/images/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/images/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/images/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/images/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="static/images/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="static/images/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="static/images/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="static/images/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="static/images/favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="Book-Review-Dojo" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="static/images/favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="static/images/favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="static/images/favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="static/images/favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="static/images/favicon/mstile-310x310.png" />
  <!-- favicon -->
  <meta charset=utf-8>
  <meta name=description content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Book Review Dojo | {% block pageTitle %}{% endblock %} | 3NITY</title>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- fixed navbar -->
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-top-fixed/">
  <!-- jquery slim -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!--bootstrap boundle-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <!-- custom stylesheet -->
  {% block customCss %}{% endblock %}
  <!-- general layout style-->
  <link rel="stylesheet" href="/static/css/layout.css" />
  <!-- custom js script -->
  <script src="/static/js/main.js?u={{ last_updated }}"></script>
</head>
<body onload="preloader()" style="margin:0;">
  <!-- overlay -->
  <div class="overlay">
    <div class="ovl-img">
      <img src="/static/images/unnamed.gif" alt="LOADING" />
    </div>
    <div class="img-blocker">
    </div>
  </div>
  <div id="loader"></div>

  <div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <span><img class="logo" src="static/images/dojo.png" width="100%" height="100%" alt="LOGO" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          {% block navLink %}{% endblock %}
        </div>
      </div>
    </nav>
    {% block pageHeader %}
    {% endblock %}
    <main>
      {% block body%}{% endblock %}
      <footer id="footer" class="bg-dark text-white">
        <div>
          <CENTER>
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This project is made with <i class="fa fa-heart"></i> by me: <span class="btn-primary"> Paul Innocent (3NITY)</span>
          </CENTER>
        </div>
      </footer>
    </main>
  </div>
</body>
</html>