<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=description content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Book Review Dojo | {% block pageTitle %}{% endblock %} | 3NITY</title>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- fixed navbar -->
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-top-fixed/">
  <!-- jquery slim -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!--bootstrap boundle-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <!-- custom stylesheet -->
  {% block customCss %}{% endblock %}
  <!-- general layout style-->
  <link rel="stylesheet" href="/static/css/layout.css" />
  <!-- custom js script -->
  <script src="/static/js/main.js?u={{ last_updated }}"></script>
</head>
<body>
  <!-- overlay -->
  <div class="overlay">
    <div class="ovl-img">
      <img src="/static/images/unnamed.gif" alt="LOADING" />
    </div>
    <div class="img-blocker">

    </div>
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <span><img class="logo" src="static/images/dojo1.jpeg" width="100%" height="100%" alt="LOGO" /></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% block navLink %}{% endblock %}
      </div>
    </div>
  </nav>

  {% block pageHeader %}

  {% endblock %}

  <main>
    {% block body%}{% endblock %}

    <footer id="footer" class="bg-dark text-white">
      <div>
        <CENTER>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This project is made with <i class="fa fa-heart"></i> by me: <span class="btn-primary"> Paul Innocent (3NITY)</span>
        </CENTER>
      </div>
    </footer>
  </main>
</body>
</html>